<!-- 页脚 -->
<div id="footer" class="clearfix">
  <div id="footerlogo" style="float:left; display:inline; margin-right:12px; width:263px; height:57px; margin-top:10px;"title="{$mymps_global.SiteName}"> 
  <img src="{$mymps_global.SiteLogo}"/></div>
  <div class="foot_info">
    <p class="foot_nav"><a href="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('/');">设为首页</a> 
 | 
<a href="{$about.aboutus_uri}">关于我们</a> | <a href="{$about.announce_uri}">网站公告</a>  | <a href="{$about.faq_uri}" target="_blank">帮助中心</a>  | <a href="{$about.friendlink_uri}" target="_blank">友情链接</a> | <a href="{$about.guestbook_uri}" target="_blank">留言建议</a>
  </p>
    Copyright @ 2009-2010 {$mymps_global.SiteName} All Right Reserved, <span id="debuginfo">Powered by <i><strong><a href="http://www.mymps.com.cn" target="_blank">mymps</a></strong></i> <em>{$MPS_VERSION}</em></span><br />
 {$mymps_global.SiteName}版权所有 网站备案：<a href="http://www.miibeian.gov.cn/index.html" target=_blank>{$mymps_global.SiteBeian}</a> {$mymps_global.SiteStat}
 </div>
  <div class="safety"><img src="{$mymps_global.SiteUrl}/template/default/images/bqicon.jpg" alt="" /></div>
  <div class="clear"></div>
  <div class="bor"></div>
</div>
<!-- 页脚 结束 -->