<?php echo mymps_admin_tpl_global_head();?>
<script language='javascript'>
	function checkSubmit()
  {
     if(document.form1.uname.value==""){
	     alert("用户名称不能为空！");
	     document.form1.uname.focus();
	     return false;
     }
	 if(document.form1.userid.value==""){
	     alert("用户名不能为空！");
	     document.form1.userid.focus();
	     return false;
     }
     if(document.form1.userpwd.value==""){
	     alert("登录密码不能为空！");
	     document.form1.pwd.focus();
	     return false;
     }
	 if(document.form1.catid.value=="0"){
	     alert("请选择行业分类！");
	     document.form1.catid.focus();
	     return false;
     }
	 	 if(document.form1.areaid.value=="0"){
	     alert("请选择所属地区！");
	     document.form1.areaid.focus();
	     return false;
     }
     return true;
 }
</script>
<div id="<?=MPS_SOFTNAME?>">
<table width="100%"  border="0" cellspacing="0" cellpadding="0" class="vbm">
<form name="form1" action="member.php?do=member&part=insert" method="post" onSubmit="return checkSubmit();">
      <tr bgcolor="#f5fbff">
      <td height="30">用户帐号：</td>
      <td><input name="userid" type="text" size="16" style="width:200px" /> </td>
     </tr>
      <tr bgcolor="#f5fbff">
        <td width="16%" height="30">用户姓名：</td>
        <td width="84%">
        <input name="cname" type="text" size="16" style="width:200px;padding:0 0 0 3px;"/>
        </td>
      </tr>

    <tr bgcolor="#f5fbff">
        <td height="30">电子邮箱</td>
        <td>
            <input name="email" type="text" size="16" style="width:200px" />
        </td>
    </tr>
    <tr bgcolor="#f5fbff">
      <td height="30">登录密码：</td>
      <td><input name="userpwd" type="text" size="16" style="width:200px" /> </td>
    </tr>
    <tr bgcolor="#f5fbff">
            <td height="30">所在用户组</td>
            <td>
				<?php echo get_member_level();?>
		    </td>
        </tr>
        <tr bgcolor="#f5fbff">
          <td height="60">&nbsp;</td>
          <td><input type="submit" class="mymps mini" value="确认增加">
                　<input type="button" onClick=history.back()  class="mymps mini" value="返 回">     </td>
        </tr>
      </form>
</table>
</div>
<?php echo mymps_admin_tpl_global_foot();?>