<table border="0" align="center" cellspacing="0" cellpadding="0" class="user_inputbox" >
    <tr>
        <td class="title">金币充值请联系本站客服</td>
    </tr>	
    <tr><td height="30"><h1 style="color:red">TEL:<?=$mymps_global[SiteTel]?>&nbsp;&nbsp;QQ:<?=$mymps_global[SiteQQ]?></h1></td></tr>					
    <tr>
        <td>
            <!--<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="user_inputmain">
              <tr>
                <td width="29%" align="right" class="padright10">输入充值的用户名：</td>
                <td width="71%"><input id="txtUserAccount1" value="<?=$s_uid?>" name="txtUserAccount1" type="text" size="30"/></td>
              </tr>
              <tr>
                <td align="right" class="padright10">请再次输入用户名：</td>
                <td><input id="txtUserAccount2" name="txtUserAccount2" value="<?=$s_uid?>" type="text" size="30"/></td>
              </tr>
              <tr >
                    <td align="right" class="padright10 padtop3" valign="top">充值金额：</td>
                    <td><input id="txtMoneyAmount" name="txtMoneyAmount" type="text" value="" size="10" />
                  元<span id="txtMoneyAmountInfo"></span><br />可换取 <span id="ScoreCountInfo" name="ScoreCountInfo" class="red fontbold">0</span> 点积分,赠送 <span id="ScoreDisCountInfo" class="red fontbold">0</span> 点积分</td>
              </tr>		  
              <tr>
                <td align="right">&nbsp;</td>
                <td>
                    <input id="btnSubmit" name="btnSubmit" type="button" class="mymps large" value="在线支付" border="0"/>                    
                </td>
              </tr>
              <tr><td height="20" colspan="2"></td></tr>
        <tr>
            <td class="tishi"  colspan="2">
                <ul>
                <li>支付宝余额支付需要验证支付宝的数字证书,否则无法完成支付。</li> 
                <li>若出现已成功充值的提示，但金币未到帐，可能是网络或系统繁忙导致。我们会在30分钟内进行核查<br />或者您拨打客服热线：<span class="green fontbold" ><?=$mymps_global[SiteTel]?></span>，说明情况，我们会在10分钟内为您解决。<span class="green fontbold" >(节假日会稍有延迟,请见谅)</span> </li>  
                  
                <div class="c"></div>
                </ul> 
            </td>
        </tr>	
            </table>-->
        </td>
    </tr>
</table><br />
<center><input type="button" onclick="history.back();" class="mymps large" value="返回"></center>      
</div>