<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="Content-Language" content="zh-CN"/>
<title>powered by mymps</title>
<link href="../mypub/css/mymps.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div style="text-align:center">
您是要进入 <b style="color:red"><?=$userid?></b> 的：<br /><br /><a href="../<?=MYMPS_ADMIN?>/index.php?do=power&userid=<?=$userid?>" target="_blank">会员管理中心</a> | <a href="../public/space.php?user=<?=$userid?>" target="_blank">会员空间首页</a>
</div>
</body>
</html>