<!--{template tttuangou_header}-->
<div class="m960">
<div class="ts_menu_2 w960">
<ul>
<li class="ts3_mbtn2"><a href="tttuangou_ticketlist.html@mod=magseller.htm">团购项目</a></li>
<li class="ts3_mbtn{$p1}"><a href="tttuangou_ticketlist.html@mod=magseller&code=ticket&id={$id}.htm">全部</a></li>
<li class="ts3_mbtn{$p2}"><a href="tttuangou_ticketlist.html@mod=magseller&code=ticket&id={$id}&use=0.htm">未消费</a></li>
<li class="ts3_mbtn{$p3}"><a href="tttuangou_ticketlist.html@mod=magseller&code=ticket&id={$id}&use=1.htm">已消费</a></li>
</ul>
<div class="clear"></div>
</div>
<div class="t_area_out">
<div class="t_area_in">
<div class="nleftL w916">
<table id="report">
<tr>
<th>团购券编号</th>
<th>密码</th>
<th>项目</th>
<!--{if $ticket[0]['name2']}--><th>产品</th><!--{/if}-->
<th>状态</th>
<th>过期时间</th>
</tr>
{loop $ticket $i $value}
<tr class="Bor">
<td width="15%"><span class="R">{$value['number']}</span></td>
<td width="10%"><span class="R">{$value['pwd']}</span></td>
<!--{if $value['name2']}-->
<td width="25%">{$value['name']}</td>
<td width="15%">{$value['name2']}</td>
<!--{else}-->
<td width="40%">{$value['name']}</td>
<!--{/if}-->
<td width="20%">{if $value['status']==1}正常 <a href="tttuangou_ticketlist.html@mod=magseller&code=sendmail&id={$value%5b'ticketid'%5d}.htm">(邮件提示用户消费)</a>{elseif $value['status']==2}过期{else}已使用 ({$value['usetime']}){/if}</td>
<td width="15%"><img src="images/alarm.gif" /> {$value['perioddate']}</td>
</tr>
{/loop}
</table>
</div>
</div>
</div>
</div>
<!--{template tttuangou_footer}-->
