<!--{template tttuangou_header}-->
<div class="m960">
<div class="t_l">
<div class="ts_menu_2">
<ul>
<li class="ts3_mbtn2"><a href="tttuangou_myorder.html@mod=me&code=ticket.htm">我的团购券</a></li>
<li class="ts3_mbtn1"><a href="tttuangou_myorder.html@mod=me&code=order.htm">我的订单</a></li>
<li class="ts3_mbtn2"><a href="tttuangou_myorder.html@mod=me&code=money.htm">我的余额</a></li>
<li class="ts3_mbtn2"><a href="tttuangou_myorder.html@mod=me&code=info.htm">账户设置</a></li>
{if UCENTER}
<li class="ts3_mbtn2"><a href="tttuangou_myorder.html@mod=me&code=face.htm">我的头像</a></li>
{/if}
</ul>
<div class="clear"></div>
</div>
<div class="t_area_out">
<div class="t_area_in">
<script type="text/javascript">  
$(document).ready(function(){
$("#report tr:odd").addClass("odd");
$("#report tr:not(.odd)").hide();
$("#report tr:first-child").show();
$("#report tr.odd").click(function(){
$(this).next("tr").toggle();
$(this).find(".arrow").toggleClass("up");
});
});
//jquery 模拟点击打开新窗口
$("a[rel=external]").attr('target', '_blank');
//jQuery等比例缩放图片大小
function DrawImg(boxWidth,boxHeight)
{
var imgWidth=$("#img1").width();
var imgHeight=$("#img1").height();
//比较imgBox的长宽比与img的长宽比大小
if((boxWidth/boxHeight)>=(imgWidth/imgHeight))
{
//重新设置img的width和height
$("#img1").width((boxHeight*imgWidth)/imgHeight);
$("#img1").height(boxHeight);
//让图片居中显示
var margin=(boxWidth-$("#img1").width())/2;
$("#img1").css("margin-left",margin);
}
else
{
//重新设置img的width和height
$("#img1").width(boxWidth);
$("#img1").height((boxWidth*imgHeight)/imgWidth);
//让图片居中显示
var margin=(boxHeight-$("#img1").height())/2;
$("#img1").css("margin-top",margin);
}
}
</script>
<ul class="nleftL">
<div style="float: right;">
<li>分类:</li>
<li class="liL_{$t1}"><a href="tttuangou_myorder.html@mod=me&code=order.htm">全部</a></li>
<li class="liLine">|</li>
<li class="liL_{$t2}"><a href="tttuangou_myorder.html@mod=me&code=order&type=payed.htm">已付款</a></li>
<li class="liLine">|</li>
<li class="liL_{$t3}"><a href="tttuangou_myorder.html@mod=me&code=order&type=nopay.htm">未付款</a></li>
</div>
</ul>
<!--{if $order==''}-->
<div class="nleftL"><span class="B2">您还没有订单</span></div>
<!--{/if}-->
<div class="nleftL">
<table id="report">
<tr>
<th>团购项目</th>
<th>数量</th>
<th>总价</th>
<th>订单状态</th>
<th>操作</th>
<th></th>
</tr>
{if empty($order)}
<tr><td colspan="7">您暂时还没有订单，您可以去团购您喜欢的商品，这样就会有订单显示出来！</td></tr>
{/if}
<!--{loop $order $i $value}-->
<tr class="Bor">
<td width="30%"><span class="R">{$value['name2']}</span></td>
<td width="10%">{$value['productnum']}</td>
<td width="15%">&yen; {$value['price']}元</td>
<td width="20%">{if $value['pay']==1 && $value['status']==1}<img src="images/sue.gif" />已付款{else}<img src="images/no2.gif" />
{if $value['status']==0}已取消{elseif $value['status']==2}已过期{elseif $value['status']==3}失败{else}未付款{/if}
{/if}
</td>
<td width="15%">{if $value['pay']==1}-----{elseif $value['status']==0 || $value['status']==2}-----{else}<a href="tttuangou_myorder.html@mod=index&code=pay&orderid={$value%5b'orderid'%5d}.htm" rel="external">付款</a> <a href="tttuangou_myorder.html@mod=me&code=cancel&orderid={$value%5b'orderid'%5d}.htm">取消</a>{/if}</td>
<td width="10%"><div class="arrow"></div></td>
</tr>
<tr class="Bor">
<td colspan="6">
<div class="imgC" >
<div id="imgBox" style="width:125px; height:75px; background:#fff; overflow:hidden">
<img id="img1" src="http://buy.shenei.net/templates/default/images/product/s-{$value%5b'img'%5d}" onload="DrawImg(125,75);" />
</div>
</div>
<div class="order_info">
<h4>订单详情</h4>
<p><b>{$value['name']}</b>（订单日期：{$value['time']}）{$value['intro']}<br/>
订单编号：{$value['orderid']}
</p>
</div> </td>
</tr>
<!--{/loop}-->
</table>
{$page_arr}
</div>
</div>
</div>
</div>
<div class="t_r">
<!--{template "tttuangou_myfinder"}-->
<div class="t_area_out">
<h1>常见问题</h1>
<div class="t_area_in" style="font-size:12px;">
<h3 class="first">我已支付成功，为什么没有{conf site_name}券？</h3>
<p>因为还没有到达最低团购人数，一旦凑够人数，您就会看到{conf site_name}券了。</p>
<h3>什么是已过期订单？</h3>
<p>如果某个订单未及时付款，那么等团购结束时就无法再付款了，这种订单就是过期订单。</p>
</div>
</div>
</div>
</div>
<!--{template tttuangou_footer}-->