<!--{template "tttuangou_header"}-->
<script language="javascript">
<!--{if $product['is_seckill']==1 && $product['time0']>=0}-->
var time={$product['time0']};
var last={$product['last']};
var start=1;
var id=$product['id'];
<!--{else}-->
var time={$product['time']};
var start=0;
<!--{/if}-->
var is_seckill={$product['is_seckill']};
</script>
<script language="javascript" src="templates/default/js/time.js"></script>
<div class="m960">
<div class="t_l">
<div class="t_area_out">
<div class="t_area_in" style=" _width:695px; *height:100%">
<table class="at_jrat">
<tbody>
<tr>
<td width="150px" style="color:#000000">今日秒杀：</td>
<td>{$product['name']}</td>
</tr>
</tbody>
</table>
<div style="position: relative;" class="t_deal">
<div style="height: 160px; padding-top: 30px;" class="t_deal_l">
<div class="at_zk">{$product['agio']}</div>
原价<strong style="text-decoration: line-through;">&yen;{$product['price']}</strong><br>
节省&yen;{$product['price']-$product['nowprice']}
<div class="at_buy"> 
<div class="deal_m">&yen; {$product['nowprice']} </div>
<div class="deal_k">
<!--{if $product['is_seckill']==1 && $product['time0']>=0}-->
<a id="TimeStart" href="javascript:alert('秒杀还未开始...');"><img src="templates/default/images/logo_m.gif"></a>
<!--{else}-->
<a id="TimeStart" href="tttuangou_seckill.html@mod=index&code=buy&id={$product%5b'id'%5d}.htm"><img src="templates/default/images/logo_m.gif"></a>
<!--{/if}-->
</div></div>
</div>
<div id="tuanState" style="float: left;" class="t_deal_l mb_0625">
<div style="text-align: center;"> 已有{$product['ordernum']}人秒到手<br>
<span class="txt12">数量有限还不快开秒！！</span><br>
<a <a href="{eval%20echo%20$this-_5f3econfig%5bsite_url%5d;%20}/@u={member_id}" onclick="copyText(this.href);">邀请朋友帮忙一起秒<br>还返利{$this->config['default_payfinder']}元噢~</a>
</div>
</div>
<div class="t_deal_l mb_0625"> 
<!--{if $product['is_seckill']==1 && $product['time0']>=0}-->
<div id="TimeText">秒杀开始倒计时</div>
<div class="deal_djs" id="remainTime"></div>
<!--{else}-->
<div id="TimeText">快秒TA，只剩下</div>
<div class="deal_djs" id="remainTime"></div>
<!--{/if}-->
</div>
</div>
<script type="text/javascript">
function changeImg(mypic){
var xw=450;
var xl=268;
var width = mypic.width;
var height = mypic.height;
if (width > xw ) mypic.width = xw;
if (height > xl ) mypic.height = xl;
}
</script>
<div class="t_deal_r">  <div class="t_deal_r_img">
<img src="images/product/{$product%5b'img'%5d}" onload="changeImg(this)" />
</div>
<div style="height: 150px; margin: 10px 0pt; clear: both;">
<p>{$product['intro']}</p>
</div>
</div>
<div style="clear: both; height: 0px;">&nbsp;</div>
</div>
</div>
<div class="t_area_out">
<div style="position: relative;" class="t_area_in t_padding">
<div class="t_detail_l">
<h4>本单详情</h4>
<div class="t_detail_txt">{$product['content']}</div>
<h4>特别提示</h4>
<div class="t_detail_txt">{$product['cue']}</div>
<h4>他们说</h4>
<div class="t_detail_txt">{$product['theysay']}</div>
<div class="at_xts">
<div class="at_xts_t"><div class="sName">{$this->Config[site_name]}说</div></div>
<div class="at_xts_m">
<p><span style="font-size: 14px;"><span style="font-family: 宋体;">{$product['wesay']}</span></span></p>
</div>
<div class="at_xts_f"></div></div>
</div>
<div class="t_detail_r">
<h1>{$product['sellername']}</h1>
<b>地址：</b>{$product['selleraddress']}<br/>
<b>电话：</b>{$product['sellerphone']}<br/>
<a href="{$product%5b'sellerurl'%5d}" target="_blank">{$product['sellerurl']}</a><br/>
{if $sellermap[0]!=''}
<button id="img1">查看地图</button>
{/if}

<div style="margin-top:50px;">
<h1>舍内团秒客服：</h1>
<p><a href="http://sighttp.qq.com/cgi-bin/check?sigkey=ae8441a8470085845e015a2386ae2554cbc2a14b09583b4e85956c1882786ba8"; target=_blank; onclick="var tempSrc='../../../sighttp.qq.com/wpa.js@rantime=.htm'+Math.random()+'&sigkey=ae8441a8470085845e015a2386ae2554cbc2a14b09583b4e85956c1882786ba8';var oldscript=document.getElementById('testJs');var newscript=document.createElement('script');newscript.setAttribute('type','text/javascript'); newscript.setAttribute('id', 'testJs');newscript.setAttribute('src',tempSrc);if(oldscript == null){document.body.appendChild(newscript);}else{oldscript.parentNode.replaceChild(newscript, oldscript);}return false;"><img border="0" SRC='../../../pub.idqqimg.com/qconn/wpa/button/button_21.gif' alt=""></a>
　<a href="tencent_3a//message/@menu=yes&exe=&uin=162053702&websitename=_25c9_25e1_25c4_25da_25cd_25f8&info=&service=200&sigt=af83d1e019b09d0eff3e6" target="_blank"><img src="../../../pub.idqqimg.com/qconn/wpa/button/button_21.gif" alt="QQ"></a></p>
<p><a href="tencent_3a//message/@menu=yes&exe=&uin=598618077&websitename=_25c9_25e1_25c4_25da_25cd_25f8&info=&service=200&sigt=af83d1e019b09d0eff3e6" target="_blank"><img src="../../../pub.idqqimg.com/qconn/wpa/button/button_21.gif" alt="QQ"></a>
　<a href="tencent_3a//message/@menu=yes&exe=&uin=834343007&websitename=_25c9_25e1_25c4_25da_25cd_25f8&info=&service=200&sigt=af83d1e019b09d0eff3e6" target="_blank"><img src="../../../pub.idqqimg.com/qconn/wpa/button/button_21.gif" alt="QQ"></a></p>
<font color="gray" size=2>注：QQ头像灰色很可能隐身！</font>
</div>

</div>
<div style="clear: both;"></div>
</div>
</div>
</div>
<div class="t_r">
<div class="t_area_out">
<div class="t_area_in" style="padding:5px" align="center">
<a href="tttuangou_seckill.html@mod=index&type=groupbuy.htm"><span style="font:bold 20px/40px Microsoft YaHei,Times New Roman;color:#f60;">去看看正在进行的团购</span></a>
</div>
</div>
<!--{template "tttuangou_myfinder"}-->
<div class="t_area_out">
<h1>团秒问答</h1>
<div class="t_area_in"> <a target="_blank" href="tttuangou_seckill.html@mod=list&code=question.htm#q_form">我要提问</a> | <a target="_blank" href="tttuangou_seckill.html@mod=list&code=question.htm">查看全部</a> {loop $question $i $value} <a target="_blank" class="txt13" href="tttuangou_seckill.html@mod=list&code=question.htm#id{$value['id']}">{$value['content']}</a> {/loop} </div>
</div>
<!--{template tttuangou_mail}-->
</div>
</div>
{if $sellermap[0]!=''}
<script type="text/javascript">
$(document).ready(function() {
$("#img1").click(function() {
tipsWindown("商家地图","img_3ahttp_3a//ditu.google.cn/staticmap@center={$sellermap%5b0%5d},{$sellermap%5b1%5d}&zoom={$sellermap%5b2%5d}&size=512x512&maptype=mobile&markers={$sellerm00b58b9d24>config['default_googlemapkey']}&sensor=false","512","512","true","","true","img")
});
});
</script>
{/if}
<!--{template "tttuangou_footer"}-->
