<!--{template tttuangou_header}-->
<div class="m960">
<div class="t_l">
<div class="t_area_out">
<div class="t_area_in">
<p class="cur_title">确认支付</p>
<div class="sect">
<div class="nleftL"><span class="B R">应付总额： {$price}元</span>  <span class="B R">订单编号： {$orderid}</span></div>
<div class="sect">
<ul class="typelist">
{if $order['paytype']==1 }
<li><img src="images/alipay.gif" /></li>
{elseif $order['paytype']==2}
<li><img src="images/tenpay.gif" /></li>
{elseif $order['paytype']==3}
<li><img src="images/chinabank.gif" /></li>
{elseif $order['paytype']==4}
<li><img src="images/kuaiqian.bmp" /></li>
<!--一卡通支付-->
{elseif $order['paytype']==6}
<li><img src="images/card.gif" /></li>
<!--一卡通支付-->
{else}
<li><img src="images/offline.gif" /></li>
{/if}
</ul>
<div class="clear"></div>
<p class="check_act">
{if $pay['is_cod']==1}
{$pay['pay_desc']}
{else}
{$bottom}
{/if}
<a style="margin-left: 1em;" href="tttuangou_pay.html@mod=index&code=order&orderid={$order%5b'orderid'%5d}.htm"> &raquo;  返回选择其他方式支付</a> 
</p>
</div>
</div>
</div>
</div>
</div>
<div class="t_r">
<!--{template "tttuangou_myfinder"}-->
<div class="t_area_out">
<h1>常见问题</h1>
<div class="t_area_in">
</div>
</div>
</div>
</div>
<!--{template tttuangou_footer}-->
