<!--{template tttuangou_header}-->
<div class="m960">
<div class="t_l">
<div class="t_area_out">
<div class="t_area_in">
<p class="cur_title">打印我的团购券</p>
<div class="nleftL">
<div id="printArea">
<div class="quan" style="width:450px;padding:10px; margin:10px auto; border:#999999 2px solid; font-family:Tahoma,; text-align:left; overflow:hidden; background:#FFFFFF url(http://buy.shenei.net/templates/default/templates/default/images/new/deal_bg.png) no-repeat bottom right;">
<div class="qtitle" style="width:100%; float:left; height:50px; padding:5px 0; border-bottom:#ccc 1px solid;">
<div class="qlogo" style="float:left; width:240px; height:52px;"><img src="http://buy.shenei.net/templates/default/templates/default/images/new/p_logo.gif" /></div>
<div class="qcode" style="float:right; font-size:12px; padding-top:23px;">{conf site_url}</div>
</div>
<div class="qmt" style="width:100%; float:left;font-size:24px; line-height:24px; padding-top:10px;">{$order['name']}<!--{if $order['name2']}--> - <font size=4>{$order['name2']}</font><!--{/if}--></div>
<div class="qwarp" style="width:100%; padding-top:10px; margin:0; float:left; font-size:16px; line-height:25px;">
<div class="ql" style="width:100%; float:left; _display:inline">
<dl style="width:100%; float:left; padding:4px 0;">
<dt style=" width:65px; float:left;">团购券：</dt>
<dd style="width:365px; float:left; white-space:normal;">
{$order['number']} &nbsp; （密码：{$pwd}）
</dd>
</dl>
<dl>
<dt style=" width:65px; float:left;">特价：</dt>
<dd style="width:365px; float:left; white-space:normal;"><span style="font-size:22px; font-family:"Times New Roman"; color:#FF0000;">{$order['nowprice']}</span> 元 / 份 &nbsp; （有效期：{$order['perioddate']}）</dd>
<dd style="width:365px; float:left; white-space:normal;"><span style="font-size:22px; font-family:"Times New Roman"; color:#FF0000;">{$order['earnest']}</span> 元定金 &nbsp; （已支付）</dd>
</dl>
<dl>
<dt style=" width:65px; float:left;">地址：</dt>
<dd style="width:365px; float:left; white-space:normal; ">{$order['selleraddress']}</dd>
</dl>
</div>
</div>
</div>
</div>
<script type="text/javascript">
function printme()
{
document.body.innerHTML=document.getElementById('printArea').innerHTML;
window.print();
}
</script>
<a href="javascript:printme()" target="_self" style=" font-size:14px;">打印</a> </div>
</div>
</div>
</div>
<div class="t_r">
<!--{template "tttuangou_myfinder"}-->
<div class="t_area_out">
<h1>关于团购券</h1>
<div class="t_area_in" style="font-size:12px;">
<p>团购券是您购买商品的唯一凭证</p>
<p>请保管好自己的团购券和密码</p>
<p>团购券只有一次使用机会</p>
<p>团购券有使用期限过期作废</p>
<p>团购券不能退款</p>
<p>管理员不会索要您的购物券</p>
</div>
</div>
</div>
</div>
<!--{template tttuangou_footer}-->
