{$mymps_global_header}
<title>{$faq.title} - 帮助中心 - {$SiteName}</title>
<link href="../template/shop/css/_g.css" type="text/css" rel="stylesheet" />
<link href="../template/shop/css/style.css" type="text/css" rel="stylesheet" />
<link href="../template/shop/css/_help.css" type="text/css" rel="stylesheet" />
</head>
<body class="home-page">
{include file="shop/inc_head.html"}
<div class="wrapper">
	<!-- 主体 -->
	<div id="content">
		<div class="help_contenter">
			<div class="hd">帮助正文 >></div>
			<div class="bd">
				<h3>{$faq.title}</h3>
				<div class="test_c">
					{$faq.content}
				</div>
			</div>
			<div class="ft">上文对您是否有帮助？如有疑问请直接咨询客服</div>
		</div>
	</div>
	<!-- 主体 结束 -->
{include file="shop/inc_foot.html"}


</div>
</body>
</html>