<!-- 页脚 -->
<div id="footer" class="clearfix">
  <div id="footerlogo" style="float:left; display:inline; margin-right:12px; width:263px; height:57px; margin-top:10px;"title="{$mymps_global.SiteName}"> 
  <!--<img src="{$mymps_global.SiteLogo}"/>--><img src="{$mymps_global.SiteUrl}/images/logo_footer.gif"/></div>
  <div class="foot_info">
    <p class="foot_nav"><a href="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('/');">设为首页</a> 
 | 
<a href="{$about.aboutus_uri}">关于我们</a> | <a href="{$about.announce_uri}">网站公告</a>  | <a href="{$about.faq_uri}" target="_blank">帮助中心</a>  | <a href="{$about.friendlink_uri}" target="_blank">友情链接</a> | <a href="{$about.guestbook_uri}" target="_blank">留言建议</a> | {$mymps_global.SiteStat}
  </p>
    Copyright @ 2009-2010 【疯·神】工作室 All Right Reserved, <span id="debuginfo">Powered by &nbsp;<i><strong><a href="http://www.shenei.net" target="_blank">shenei.net</a></strong></i> <!--<em>{$MPS_VERSION}</em>--></span><br />
 <!--{$mymps_global.SiteName}版权所有 网站备案：<a href="http://www.miibeian.gov.cn/index.html" target=_blank>{$mymps_global.SiteBeian}</a> {$mymps_global.SiteStat}-->
 </div>
  <div class="safety"><img src="{$mymps_global.SiteUrl}/template/shop/images/bqicon.jpg" alt="" /></div>
  <div class="clear"></div>
  <div class="bor"></div>
</div>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v2.jiathis.com/code/jiathis_r.js?move=0&amp;btn=r5.gif" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!-- 页脚 结束 -->