{$mymps_global_header}
<link href="../template/shop/css/_g.css" type="text/css" rel="stylesheet" />
<link href="../template/shop/css/style.css" type="text/css" rel="stylesheet" />
<link href="../template/shop/css/_fabu.css" type="text/css" rel="stylesheet" />
<link href="../template/shop/css/_postSucc.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../mypub/messagebox.js"></script>
<title>{$mymps_box.seotitle} - {$SiteName}</title>
</head>
<body class="home-page">
 {include file="shop/inc_head.html"}
<div class="wrapper">
<div id=content>
<div class=fbd>
       
<div class="c_border">
    <center id="infobox">
        <ul>
            <div id="mr">
                {$mymps_box.notice}
                {$mymps_box.content}
            </div>
        </ul>
    </center>
</div>

</div>
</div>
{include file="shop/inc_foot.html"}
<!-- Ò³½Å ½áÊø -->
</div>
</div>
</body>
</html>